/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: #6b6b6b;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--cassidoo-white: #faf5f6;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

/* @font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */
/* ia-writer-mono-latin-400-normal */
@font-face {
	font-family: "iA Writer Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff2) format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff) format("woff");
}

/* ia-writer-mono-latin-700-normal */
@font-face {
	font-family: "iA Writer Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-normal.woff2) format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-normal.woff) format("woff");
}

/* ia-writer-mono-latin-400-italic */
@font-face {
	font-family: "iA Writer Mono";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-italic.woff2) format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-italic.woff) format("woff");
}

/* ia-writer-mono-latin-700-italic */
@font-face {
	font-family: "iA Writer Mono";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-italic.woff2) format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-italic.woff) format("woff");
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: auto;
	padding: 20px;
	/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
	background-color: var(--cassidoo-white);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 16px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1rem 1rem;
}

html,
body,
button,
code {
	font-family: "iA Writer Mono", monospace;
}

h1 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--gray);
	line-height: 1.1;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 400;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.tags.center {
	max-width: 50ch;
	margin: 0 auto;
	color: var(--black)
}

.tag {
	display: inline-block;
	margin: auto 0px;
	color: var(--black);
	font-size: .8rem
}

.tag:hover {
	cursor: pointer;
	font-weight: 700;
	color: var(--black);
}

.tag.posty {
	margin-left: 0;
	margin-right: 10px
}

time {
	font-style: italic;
	color: var(--gray);
}

.img-frame[data-astro-cid-3ef6ksr2] {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px 0;
	border-radius: 50%;
	overflow: hidden
}

.img-frame[data-astro-cid-3ef6ksr2] img[data-astro-cid-3ef6ksr2] {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 100%
}