---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HomePosts from "../components/HomePosts.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>Hi! I’m Thillai, and I like to make simple.</p>
			<p>
				I am a Lead Engineer by work. Outside of that fancy title, I
				like to write, code, and make things. I enjoy hiking, gardening,
				playing music and watching documentaries about travel and off
				road.
			</p>
			<h3>Here's my most recent posts</h3>
			<HomePosts allPosts={posts} />
		</main>
		<Footer />
	</body>
</html>
