---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Thillai N. All rights reserved.  <a href="https://github.com/cassidoo/blahg">This blog is open source</a>!
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--cassidoo-white)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
