---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>Thillai N</h1>
			<h2>Software Engineer 🧑‍🚀 in Atlanta</h2>
		</div>
		<div class="img-frame"></div>
		<!-- <nav>
			<div class="internal-links">
				<HeaderLink href="/">home</HeaderLink>
				<HeaderLink href="/blog">blog</HeaderLink>
				<HeaderLink href="//github.com/thillain">github</HeaderLink>
				<HeaderLink href="//buttondown.com/thillacier">newsletter</HeaderLink>
				<HeaderLink href="//bsky.app/profile/kaizenacier.bsky.social"
					>bluesky</HeaderLink
				>
			</div>
		</nav> -->
	</div>
</header>
<style>
	header {
		background: var(--cassidoo-white);
	}
	h2 {
		margin: 0;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.header-section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
