---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>Thillai Narayanan</h1>
			<h2>
				Software Engineer — mostly writing code, occasionally writing
				blogs
			</h2>
		</div>
		<!-- <div class="img-frame">
			<img src="/img/front.jpg" alt="Cassidy's face" />
		</div> -->
	</div>
</header>
<style>
	header {
		background: var(--cassidoo-white);
		width: 720px;
		max-width: calc(100% - 2rem);
		margin: auto;
		padding: 2rem 1rem;
	}
	h2 {
		margin: 1.5rem 0;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.header-section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
